
# Ignore all .pyc files
*.pyc

# Ignore the venv folder
venv/
venv-1/
venv-2/
__pycache__/

# Ignore all log files
*.log

# Ignore everything in the temp folder
temp/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
# Environment files
.env
*.env
api/.env
frontend/.env
frontend/.env.local
